## 2.3.2 Scalar Types 스칼라형(70p)
### None str(문자) bytes float(실수) bool(True and False) int(정수)

Python along with its standard library has a small set of built-in types for handling numerical data, strings, boolean (True or False) values, and dates and time. These “single value” types are sometimes called **scalar types** and we refer to them in this book as scalars. See Table 2-4 for a list of the main scalar types. Date and time handling will be discussed separately, as these are provided by the `datetime` module in the standard library.

파이썬은 숫자 데이터, 문자열, 논리값 (True 또는 Faise), 그리고 날짜와 시간을 다룰 수 있는 내장 자료형을 제공함

이런 "단일값 (single value)"을 담는 자료형을 **스칼라 타입 (scalar types)**이라 부름

날짜와 시간을 다루는 방법은 `datatime` 모듈에서 제공함

### Numeric types 숫자 자료형


숫자를 위한 파이썬의 주요 자료형은 `int`와 `float`임

`int`는 임의의 큰 숫자를 저장할 수 있음

(부동소숫점) 실수는 `float`형으로나타냄

내부적으로 배정밀도 (64비트)를 가짐

`float`는 과학표기법으로 표현할수도 있음 (예: 0.12345*10^5)

# int : 정수

In [18]:
# a=0 a=-13 a=100

In [ ]:
# 사칙연산 + - * /

In [21]:
a=3/4 #결과는 float
print(a)
print(type(a))

0.75
<class 'float'>

In [22]:
3**4

81

In [24]:
pow(3,4)

81

In [27]:
3^4 #거듭제곱아님

7

In [30]:
7%3 #나머지반환

1

In [31]:
7//3 #몫반환

2

### 주의 음수의 나눗셈 연산

In [33]:
-17//10

-2

In [34]:
17//-10

-2

In [36]:
-17//-10 ##이러면 제대로 나옴

1

In [37]:
-17%10

3

In [39]:
-17%-10 ##이러면 제대로 나옴

-7

# float : 실수

In [40]:
# ‘컴퓨터식 지수 표현 방식’으로 파이썬에서는 4.24e10 또는 4.24E10처럼 표현함
# e와 E 둘 중 어느 것을 사용해도 무방함
# a = 4.24*10^10
a = 4.24E10 
a

42400000000.0

In [42]:
# a = 4.24*10^(-10) 음수면....그대로 나옴
a = 4.24e-10
a

4.24e-10

In [11]:
type(x1)

float

In [12]:
x2=3*(10**8) #int

In [13]:
type(x2)

int

### int + float = float

In [14]:
17 - 10.0

7.0

In [16]:
17 - 10.  ##결과뒤에 .0남기고 싶으면 .만 써도 된다.

7.0

In [52]:
### 나머지 연산 - 몫은 정수.0로 나오는데 나머지는 .99999999999형태 , 단 나머지가 정수면 정수.0

In [43]:
3.3 // 1

3.0

In [46]:
3.5 // 1.1

3.0

In [45]:
3.5 % 1.1

0.19999999999999973

In [47]:
3.5 // 1.1

3.0

In [48]:
# 7.1 / 4.1 = 1.7317 => 몫이 1, 1 * 4.1 = 4.1이므로 7.1 - 4.1 = 3.0
7.1 % 4.1

3.0

In [49]:
# 11.1 / 3.1 = 3.5806 => 몫이 3, 3 * 3.1 = 9.3이므로 11.1 - 9.3 = 1.8
11.1 % 3.1

1.7999999999999994

In [53]:
# 정수 11을 정수 3으로 나누었을 때 몫 (3)과 나머지 (2)
divmod(11, 3)

(3, 2)

In [54]:
# 실수 11.1을 실수 3.1로 나누었을 때 몫 (3)과 나머지 (1.8)
divmod(11.1, 3.1)

(3.0, 1.7999999999999994)

### 진수 표현과 변환

**시간 표시**

60초가 1분, 60분이 1시간, 24시간 (오전 12시간, 오후 12시간)이 하루, 1주일이 7일, 365일 (윤년인경우  366일)이 1년, 1년은 12달, 1년은 52주

10진법 (Decimal) 0, 1 ~ 9   https://en.wikipedia.org/wiki/Decimal

12진법 (Duodecimal)  https://en.wikipedia.org/wiki/Duodecimal

60진법 (Sexagesimal)   https://en.wikipedia.org/wiki/Sexagesimal

2진법 (Binary) 0, 1  https://en.wikipedia.org/wiki/Binary_number

8진법 (Octal) 0, 1 ~ 7  https://en.wikipedia.org/wiki/Octal

16진법 (Hexadecimal) 0, 1 ~ 9, a, b, c, d, e, f   https://en.wikipedia.org/wiki/Hexadecimal

2진수를 입력하는 방법: 숫자 앞에 '0b'를 붙임

8진수를 입력하는 방법: 숫자 앞에 '0o'를 붙임

16진수를 입력하는 방법: 숫자 앞에 '0x'를 붙임

bin() 함수: 10진수를 2진수로 변환하는 함수

oct() 함수: 10진수를 8진수로 변환하는 함수

hex() 함수: 10진수를 16진수로 변환하는 함수

In [58]:
b=0b110
b

6

In [60]:
bin(6) ##따옴표안에 있음 따라서 계산 식안에 bin() 못씀

'0b110'

In [62]:
o=0o110
o

72

In [63]:
oct(72)

'0o110'

In [66]:
x = 0X8ff  ### f가 15임
x

2303

In [65]:
X = 0xABC ### a가 10 b가 11 c가 12
X

2748

# 계산의 우선순위 
### () 사용으로 지정 하거나
### 1등 ** 2등 -(negative) 3등 *,/,%,//          마지막 + -

In [68]:
-2 ** 4

-16

### 변수 (variable) x=3 (x equal 3 아니라 x에 3이 할당됐다.)

* 변수: 값을 참조하는 이름
* 변수명으로 사용할 수 있는 문자: 대소 영문자, 숫자, 언더스코어 ( _ )
* 숫자는 맨 앞에 올 수 없음
* 대문자와 소문자는 다른 것으로 구별됨
* 파이썬에서 예약되어 있는 다음의 키워드는 변수명으로 사용할 수 없음

and, del, from, not, while, as, elif, global, or, with, assert, else, if, pass, yield, break, except, omport, print, class, exec, in, raise, cobtinue, finally, is, return, def, for, lambda, try, True, False, None

In [69]:
x, y = 1, 0.9 # 각각 해당 값 할당
print("x = ", x)
print("y = ", y)
x, y = y, x # 값 바꾸기
print("x = ", x)
print("y = ", y)

x =  1
y =  0.9
x =  0.9
y =  1

In [70]:
x = None
print(x)
print(type(x))

del x # x 변수 제거
x

None
<class 'NoneType'>

NameError: name 'x' is not defined

# 논리값 : bool

In [79]:
a= 5 <= 2
print(a)
print(type(a))

False
<class 'bool'>

In [72]:
a = [1, 2, 3]
a

[1, 2, 3]

In [73]:
print(type(a))

<class 'list'>

In [74]:
c = list(a) ###이때 새로운 list를 만드는 것임
c

[1, 2, 3]

In [78]:
a is c ###그래서 false is는 참조가 같은지 보는 것 is not 참조가 다른지 보는 것

False

In [80]:
a == c ##이건 동일한지 보는 것 == equal? != not equal

False

In [83]:
type("True") ##True라는 글자 자체가 bool인 것은 아님

str

In [82]:
type(True)

bool

#### 비교 연산자 Comparisons operators

|  <center>비교 연산자</center> |  <center>의미</center> |  <center>활용 예</center> |
|--------|--------|--------|
| == | 같다 |  a == b |
| != | 같지 않다 |  a != b  |
| < | 작다 |  a < b |
| > | 크다 |  a > b |
| <= | 작거나 같다 |  a <= b
| >= | 크거나 같다 |  a >= b

In [84]:
a=5 ; b=10

In [85]:
a > 2 and b < 20

True

In [86]:
a > 2 or b > 10 #하나만 True여도 True

True

In [87]:
'hi' == 'h' + 'i'

True

In [88]:
[1, 2] != [2, 1]

True

#### 논리 연산자 Booleans

The two boolean values in Python are written as `True` and `False`. Comparisons and other conditional expressions evaluate to either `True` or `False`. Boolean values are combined with the and and or keywords:

|  <center>논리 연산자</center> |  <center>의미</center> |  <center>활용 예</center> |
|--------|--------|--------|
| and | 논리곱 |  a and b |
| or | 논리합 |  a or b  |
| not | 논리부정 |  not a |

In [89]:
True and False

False

In [90]:
False or True

True

In [92]:
False or False

False

In [91]:
not True

False

# 'in' , 'not in' operater

In [94]:
vals = ['this', 'is', 'it']
vals

['this', 'is', 'it']

In [95]:
'is' not in vals

False

In [96]:
'was' not in vals

True

**논리 연산자 우선 순위**

and, or, not 논리 연산자가 식 하나에 들어있으면 not, and, or 순으로 판단함

In [97]:
not True and False or not False

True

In [98]:
((not True) and False) or (not False)

True

**논리 연산자와 비교 연산자를 함께 사용하기**

비교 연산자(is, is not, ==, !=, <, >, <=, >=)를 먼저 판단하고 논리 연산자(not, and, or)를 나중에 판단하게 됨

In [99]:
10 > 5 or 10 < 3        # True or False

True

**정수, 실수, 문자열을 불 (bool)로 만들기**

* 정수, 실수, 문자열을 불로 만들 때는 bool을 사용하면 됨
* 정수 1은 True, 0은 False임
* 정수 0, 실수 0.0 이외의 모든 숫자는 True임
* 문자열의 내용이 'False'라도 불로 만들면 True임
* 문자열의내용 자체는 판단하지 않으며 값이 있으면 True임
* 빈 문자열 '', ""를 제외한 모든 문자열은 True임

In [100]:
bool('False')

True

In [101]:
bool(True)

True

In [104]:
a=True
c=bool(True)
a is c

True

**단락 평가 (short-circuit evaluation)**

* 논리 연산에서 중요한 부분이 단락 평가임 
* 단락 평가는 첫 번째 값만으로 결과가 확실할 때 두 번째 값은 확인(평가)하지 않는 방법을 말함
* 파이썬에서 논리 연산자는 단락 평가에 따라 반환하는 값이 결정됨
* and 연산자는 두 값이 모두 참이라야 참이므로 첫 번째 값이 거짓이면 두 번째 값은 확인하지 않고 바로 거짓으로 결정함
* or 연산자는 두 값 중 하나만 참이라도 참이므로 첫 번째 값이 참이면 두 번째 값은 확인하지 않고 바로 참으로 결정함

* 파이썬에서 논리 연산자는 마지막으로 단락 평가를 실시한 값을 그대로 반환함. 따라서 논리 연산자는 무조건 불을 반환하지 않음
* 마지막으로 단락 평가를 실시한 값이 불이면 불을 반환하게 됨

In [107]:
True and 'Python' #첫번째만 보고 결과모르니까 두번째 꺼 봄 마지막 단락 그대로 반환

'Python'

In [108]:
True and ''

''

In [110]:
'' and True #첫번째만 보고 False 인거 아니까 바로 반환

''

In [111]:
'Python' and False

False

### 문자열 (Character String)

문자열 (character string): 문자의 나열, 작은따옴표 (')나 큰따옴표 (")로 둘러싸인 문자의 집합

### 문자열 만들기

* 문자열의 시작과 끝에 작은따옴표 (')나 큰따옴표 (")를 지정함
* 문자열 양쪽에 같은 기호를 사용하여야 함

In [119]:
#=============================        str: 문자형
# \n은 인용부호 내에서의 줄바꿈을 나타내는 특수문자를 나타냄
x = 'hello!\nWelcome to ML world'
print(x)

# type(x) = <class 'str'>
print(type(x))

hello!
Welcome to ML world
<class 'str'>

In [120]:
# 문자열 안에 큰따옴표나 작은따옴표를 포함시키는 경우

# 문자열 안에 큰따옴표를 포함되는 경우: 문자열을 작은따옴표로 감쌈
string3 = 'This is a "double" quotation test'
print(string3)

# 문자열 안에 작은따옴표를 포함되는 경우: 문자열을 큰따옴표로 감쌈
string4 = "This is a 'single' quotation test"
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [121]:
# 삼중큰따옴표 (""")나 삼중작은따옴표 (''')로 감쌈

# 1. 문자열에 큰따옴표와 작은따옴표를 모두 포함시키는 경우
# 2. 문장을 여러 행 넣고 싶은 경우
# 3. 입력한 내용 그대로 출력하고 싶을 때

long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.''' 

long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.""" 

print(long_string1)
print(long_string2)

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

In [125]:
long_string1 #그냥하면 자동으로 \ng붙음

'[삼중 작은따옴표를 사용한 예]\n파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.\n큰따옴표(")와 작은따옴표(\')도 입력할 수 있습니다.'

In [122]:
# 문자열을 합침

a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

Enjoy python!

In [123]:
# 문자열의 반복

print(a * 3)

Enjoy Enjoy Enjoy

파이썬 문자열은 **변경 불가능 (immutable)**임

In [126]:
a = 'this is a string'
print(a)

this is a string

In [127]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [128]:
b = a.replace('string', 'longer string')
print(b)

this is a longer string

In [129]:
a

'this is a string'

In [130]:
b = a.replace('string', 'longer string')
print(b)

this is a longer string

문자열은 유니코드 문자의 시퀀스여서 `리스트`나 `튜플` 같은 순차적 자료형처럼 취급됨

In [134]:
s = 'python'
list(s)s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [135]:
s[:3]

'pyt'

In [137]:
s = '12\\34' ## \를 결과에 나타내고 싶을때
print(s)

12\34

In [138]:
s = '12\34' ## \를 결과에 나타내고 싶을때
print(s)

12

문자열 객체는 포맷에 따라 문자열을 대체하여 새로운 문자열을  반환하는 `format` 메서드를 가지고 있음

In this string,

* {0:.2f} means to format the first argument as a floating-point number with two decimal places.
* {1:s} means to format the second argument as a string.
* {2:d} means to format the third argument as an exact integer.

To substitute arguments for these format parameters, we pass a sequence of arguments to the `format` method:

위 문자열에서 

* {0:.2f}는 첫 번째 인자를 소숫점 아래 두 자리까지만 표시하는 부동소숫점 수 형태로 출력하라
* {1:s}는 두 번째 인자는 문자열이다
* {2:d}는 세 번째 인자는 정수다

를 의미함

인자를 이런 포멧 매개변수를 이용하여 대치하려면 `format` 메서드에 전달해야 함

In [144]:
template = '{0:.2f} {1:s} are worth US${2:d}'
#0번째는 소숫점 아래 두자리까지만 (반올림)
#1번째는 문자열
#번째는 정수

In [143]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [145]:
"{1:>20s}".format(12345, 'gil dong hong')   # '       gil dong hong'  20개읽는데뒤에채움

'       gil dong hong'

In [146]:
'{1:<20s}'.format(12345, 'gil dong hong')   # 'gil dong hong       ' 20개읽는데앞에채움

'gil dong hong       '

In [147]:
"{1:^20s}".format(12345, 'gil dong hong')   # '   gil dong hong   ' 20개읽는데 중간에 채움

'   gil dong hong    '

### Bytes and Unicode 바이트와 유니코드 (74p)

In [150]:
val = "español"

In [151]:
val

'español'

In [152]:
# UTF-8

val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [154]:
val_decode=val_utf8.decode()
val_decode

'español'

### bytes and bytearray

* 파이썬에서 바이너리 데이터를 처리할 때는 bytes와 bytearray를 사용함
* 바이너리는 2진수를 의미하는데, 바이너리 데이터는 컴퓨터가 처리하는 데이터 형식을 뜻함

### bytes

* `bytes`는 1바이트 단위의 값을 연속적으로 저장하는 시퀀스 자료형임
* 보통 1바이트는 8비트로 정의하며 0 ~ 255(0x00~0xFF)까지 정수를 사용함

**bytes로 바이트 객체를 만드는 방법**

* `bytes(길이)`: 정해진 길이만큼 0으로 채워진 바이트 객체를 생성함
* `bytes(반복가능한객체)`: 반복 가능한 객체로 바이트 객체를 생성함
* `bytes(바이트객체)`: 바이트 객체로 바이트 객체를 생성함

### None (77p)

`None` is the Python null value type. If a function does not explicitly return a value, it implicitly returns `None`:

`None`은 파이썬에서 사용하는 null값임

만약 어떤 함수에서 명시적으로 값을 반환하지 않으면 묵시적으로 `None`을 반환함

기술적인 측면에서 None은 예약어일 뿐 아니라 noneType의 유일한 인스턴스임

In [157]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [156]:
add_and_maybe_multiply(17, 25)

42

In [158]:
add_and_maybe_multiply(17, 25, 2)

84

### Dates and times (78p)

The built-in Python `datetime` module provides `datetime`, `date`, and `time` types. The `datetime` type, as you may imagine, combines the information stored in `date` and `time` and is the most commonly used:

파이썬 내장 `datetime` 모듈은 `datetime`, `date`, 그리고 `time` 형을 지원함

`datetime` 형은 이름에서 알수  있듯이 `date`와 `time`에 저장되어 있는 정보를 결합하며, 가장 자주 사용하는 형임

In [159]:
from datetime import datetime, date, time

# 년, 월, 일, 시간, 분, 초
dt = datetime(2020, 3, 7, 12, 45, 21)
dt.day

7