파이썬의 기본 자료구조 
- 컨테이너 데이터 형 : 듀플(tuples) 리스트(lists) 딕셔너리(dicts) 집합(sets)
- 기본 데이터 타입 : 정수(int) 실수(float) 문자열(str) 논리값(bool) 바이트(bytes)

# 듀플 tuples - immutable

통상 (,)사용, 소괄호 생략 가능

데이터 여러 개를 하나로 묶음

항목 : 숫자, 문자열, 불, 리스트, 듀플, 세트, 딕셔너리

듀플 데이터는 한 번 입력하면 그 후로는 항목 변경 불가 (수정, 추가, 삭제 불가) -> 그래야할때 사용

듀플끼리 더하기는 됨 ex) p+=(3,)         #cf) list.append() 추가는 안됨

In [6]:
x = ("A", 2.3, 3, b"bong")#혼합가능
print(type(x))
print(type(x[0]))
print(type(x[1]))
print(type(x[2]))
print(type(x[3]))

<class 'tuple'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bytes'>

In [8]:
x = "A", 2.3, 3, b"bong" ##혼합가능 괄호없으면 듀플
print(type(x))
print(type(x[0]))
print(type(x[1]))
print(type(x[2]))
print(type(x[3]))

<class 'tuple'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bytes'>

In [124]:
x = 10,
y= (10,) #요소가 1개인 듀플 꼭 , 필요함

In [32]:
nested_tup=(4, 5, 6), (7, 8) ##중첩 듀플1
print(nested_tup)
type(nested_tup)

((4, 5, 6), (7, 8))

tuple

In [33]:
tup1=(4, 5, 6)           ##중첩 듀플2
tup2=(7, 8)
tup3=(tup1, tup2)
print(tup3)

((4, 5, 6), (7, 8))

In [34]:
tup4 = tup1 + tup2
print(tup4)

(4, 5, 6, 7, 8)

In [35]:
tup1 = ('a')*3
print(tup1)
tup2 = ('a',)*3
print(tup2)

aaa
('a', 'a', 'a')

In [36]:
tu1=('geeks')
n =5 
print("\nTuple with a loop")
for i in range(int(n)):
    tuple1=(tuple1,)
    print(tuple1)

Tuple with a loop
((((((((((('geeks',),),),),),),),),),),)
(((((((((((('geeks',),),),),),),),),),),),)
((((((((((((('geeks',),),),),),),),),),),),),)
(((((((((((((('geeks',),),),),),),),),),),),),),)
((((((((((((((('geeks',),),),),),),),),),),),),),),)

### tuple 내장함수

In [40]:
t=tuple("Geeks")
print(t)
print(t[0])
print(t[4])

('G', 'e', 'e', 'k', 's')
G
s

In [41]:
l=[1,2,3]
a=tuple(l)
print(a)

(1, 2, 3)

In [44]:
l2=['geeks']
a2=tuple(l2)
print(a2)

('geeks',)

In [46]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [51]:
a=tuple(range(5000000))  ##속도비교
b=list(range(5000000))

In [49]:
%timeit a*5

440 ms ± 21.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [50]:
%timeit b*5

418 ms ± 4.55 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# iterable 과 iterator 

iterable : 반복 가능한 객체

iterator : 값을 차례대로 꺼낼 수 있는 객체

In [53]:
import collections.abc as ca

In [59]:
var_list = [1, 3, 5, 7]
isinstance(var_list, ca.Iterable) #var_list가 iterable한 타입에 속하는 instance인가?

True

In [58]:
for i in var_list: #하나씩 꺼내기
    print(i)

1
3
5
7

In [65]:
var_dict = {'key1': 234, 'key2': 456}
isinstance(var_list, ca.Iterable) #var_list가 iterable한 타입에 속하는 instance인가?

True

In [66]:
for i in var_dict:
    print(i)

key1
key2

In [68]:
var_sets = {'key1:', 234, 'key2' , 456}
isinstance(var_sets, ca.Iterable)

True

In [70]:
for q in var_sets:
    print(q)

456
key2
234
key1:

In [71]:
var_str = "abced"
isinstance(var_str, ca.Iterable)

True

In [72]:
for i in var_str:
    print(i)

a
b
c
e
d

In [73]:
x=range(3)
print(type(x))

<class 'range'>

In [82]:
var_range=range(1,7)  #range(시작, 끝, step) 시작숫자 ~ 끝숫자-1
isinstance(var_range, ca.Iterable)

True

In [83]:
for i in var_range:
    print(i)

1
2
3
4
5
6

### iterable 하지 않은 타입 - int float none

In [86]:
var_int=10
isinstance(var_int, ca.Iterable)

False

### enumerate 반복문 사용 시 몇 번째 반복문인지 확인이 필요할 때 사용함

In [88]:
t = [1, 1, 2, 3, 5, 7, 9]
for p in enumerate(t):
    print(p)

(0, 1)
(1, 1)
(2, 2)
(3, 3)
(4, 5)
(5, 7)
(6, 9)

### iterator 이터레이터 값을 차례대로 꺼낼 수 있는 객체

In [100]:
str1=['a','b','c']
str1_iter=iter(str1)
print(str1_iter)
type(str1_iter)

<list_iterator object at 0x000002AA3BA4E8C8>

list_iterator

In [101]:
next(str1_iter)

'a'

In [102]:
next(str1_iter)

'b'

In [103]:
next(str1_iter)

'c'

In [104]:
next(str1_iter)

StopIteration:

### immutable 변경불가능

In [120]:
tup_3 = tuple(['foo',[1,2],True])
print(tup_3)

tup_3[2]=False  # 변경불가 오류

('foo', [1, 2], True)

TypeError: 'tuple' object does not support item assignment

In [117]:
del tup_3[2] # 삭제 불가 오류!

TypeError: 'tuple' object doesn't support item deletion

In [112]:
list_3 = list(['foo',[1,2],True])
print(list_3)
list_3[2]=False  # cf. 리스트 변경가능
print(list_3)

['foo', [1, 2], True]
['foo', [1, 2], False]

듀플내 변경가능한 객체에 대해서는 변경 가능함

In [121]:
tup_3[1].append(3)
print(tup_3)

('foo', [1, 2, 3], True)

리스트 [:] & deepcopy 주소 공유 없이 같은 값만 가져오기

In [130]:
import copy

x=[1, 2]
print("x=",x)

y=x
print("y=",y)

z=x[:]
print("z=",z)

w=copy.deepcopy(x)
print("w=",w)

print(x is y)
print(x is z)
print(x is w)

print(id(x))
print(id(y))
print(id(z))
print(id(w))

x= [1, 2]
y= [1, 2]
z= [1, 2]
w= [1, 2]
True
False
False
2930376083912
2930376083912
2929757277064
2929758111688

### 듀플 자르기 (del x)

In [131]:
tup1=tuple("kimduhyun")

In [135]:
print(tup1[1:])  #index 1인 i 부터 시작

('i', 'm', 'd', 'u', 'h', 'y', 'u', 'n')

In [133]:
print(tup1[::-1]) #거꾸로배열

('n', 'u', 'y', 'h', 'u', 'd', 'm', 'i', 'k')

In [137]:
del tup1[0] # 튜플 객체는 deletion을 지원하지 않는다.

TypeError: 'tuple' object doesn't support item deletion

### 듀플 연결하기 (append x)

In [139]:
tupp1 = 'a','b','c'
tupp2 = 'd','e','f'
tupp=tupp1+tupp2
print(tupp)

('a', 'b', 'c', 'd', 'e', 'f')

### 듀플 반복하기

In [140]:
('t','u','p','l','e')*2

('t', 'u', 'p', 'l', 'e', 't', 'u', 'p', 'l', 'e')

### 듀플에서 값 분리하기

In [141]:
tup=(4,5,6)
a, b, c = tup
print(b)

5

In [142]:
tup2=(1,2,(3,4))
a, b ,c = tup2
print(c)

(3, 4)

In [143]:
a, b, c, d = tup2
print(c)

ValueError: not enough values to unpack (expected 4, got 3)

In [144]:
a, b, (c, d) = tup2
print(c)

3

### 듀플의 유용성 (swapping)

In [152]:
############다른 언어일때 변수명 교환하는 법
a=2;b=3
tmp=a
a=b
b=tmp
print("a=",a,"b=",b)

a= 3 b= 2

In [150]:
##########듀플일때
a,b = 1,2
a,b = b, a
print("a=",a,"b=",b)

a= 2 b= 1

In [154]:
########*rest 사용 - 길이를 모르는 나머지들
a = (3, 4, 5, 6)
b,c, *rest = a
print(b)
print(*rest)

3
5 6

In [155]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq : 
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

## 듀플의 내장함수 
- len(tuple)
- max(tuple)
- min(tuple)
- tuple(seq)

In [159]:
a = (1,2 ,3 ,4 ,5)
b = [1,2 ,3 ,4 ,5]
print(len(a))
print(max(a))
print(min(a))
print(tuple(b))

5
5
1
(1, 2, 3, 4, 5)

## 듀플의 메서드 
- len(tuple)
- tuple.index(obj.)

In [161]:
print(len(a))
print(a.index(3))

5
2