# dictionary 딕셔너리 사전

In [2]:
d1={'a':'some value','b':[1,2,3,4]}
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
d1['c']='asdf'
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'asdf'}

In [4]:
d1['c']

'asdf'

In [5]:
del d1['c']
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [6]:
d1.pop('b')
print(d1)

{'a': 'some value'}

In [7]:
d2={'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'asdf'}

In [14]:
print(d2.keys())
type(d2.keys())

dict_keys(['a', 'b', 'c'])

dict_keys

In [16]:
list(d2.keys())

['a', 'b', 'c']

In [17]:
list(d2.values())

['some value', [1, 2, 3, 4], 'asdf']

In [19]:
tuple(d2.items())

(('a', 'some value'), ('b', [1, 2, 3, 4]), ('c', 'asdf'))

In [22]:
d2.update(d1) ##같은값은 한번만 보임 이미 존재하는 키는 value만 바꿔줌 
print(d2)

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'asdf'}

In [25]:
a={"a":102,"b":103}
b={"c":105,"b":4444}
a.update(b)
print(a)
print(a.values())

{'a': 102, 'b': 4444, 'c': 105}
dict_values([102, 4444, 105])

In [26]:
a.clear()
print(a)

{}

In [28]:
mapping=dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [31]:
# 사전에 없을 떄 디폴트 값 주기
words=['apple','bat','bar','atom','book']
by_letter={}

for word in words : #word는 words안에 있는것들
    letter = word[0] #그 word의 index 0 (첫번째 문자가) letter이다.
    if letter not in by_letter : #근데 그 letter이 by_letter에 없으면 
        by_letter[letter]=[word] #키를 letter로 하고 값을 word 로 하는 사전을 만들라
    else:                          #그게아니라면
        by_letter[letter].append(word) #키 letter에 word 값을 추가해라
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [33]:
dict(math=100)

{'math': 100}

# SET 집합 유일한 원소 취급 (dict의 한 종류) 순서의 의미없다

In [34]:
set([1,2,3,3,3,3])

{1, 2, 3}

In [53]:
set1 = set([1,2,3,4,5,6,7,8,9,10,11,12]) 
print("Intial Set:")
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [54]:
set1.remove(4)
print(set1)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12}

In [55]:
set1.discard(5)
print(set1)

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12}

In [56]:
for i in range(1,3):
    set1.remove(i)
print(set1)

{3, 6, 7, 8, 9, 10, 11, 12}

### 집합연산

In [58]:
s1={1,2,3,4}
s2={3,4,5,6}

In [59]:
s1|s2

{1, 2, 3, 4, 5, 6}

In [60]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [61]:
s1&s2

{3, 4}

In [62]:
s1.intersection(s2)

{3, 4}

In [63]:
s1-s2  #차집합

{1, 2}

In [64]:
s1.difference(s2)

{1, 2}

In [66]:
s1^s2 #대칭차집합

{1, 2, 5, 6}

In [68]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

# 딕셔너리 컴프리헨션 한줄짜리 for 문 []사이에 씀
## 집합 컴프리헨션은 {}사이에 씀

In [71]:
strings=['a','as','bat']
[x.upper() for x in strings if len(x)>2]

['BAT']

In [70]:
strings=['a','as','bat'] #집합 컴프리헨션
{x.upper() for x in strings if len(x)>2}

{'BAT'}

In [73]:
strings=['a','as','bat'] #집합 컴프리헨션
{len(x) for x in strings }

{1, 2, 3}

In [76]:
set(map(len,strings)) #map함수: map(이 함수를, 여기에 전부 적용)

{1, 2, 3}

# 중첩 컴프리헨션

In [14]:
all_data=[['John','Emily','Michael','Mary','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]

In [17]:
## for 문 사용
data1=[]
for i in all_data:
    ename=[j for j in i if j.count('e') >= 2 ]
    data1.extend(ename)

In [18]:
data1

['Steven']

In [24]:
##중첩 컴프리헨션 사용
[j  
 for i in all_data     #위에서 for i in all_data: 랑 똑같은 의미 
 for j in i
 if j.count('e')>=2]

['Steven']

In [32]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened_for =[]
for i in some_tuples:
    want=[x for x in i]
    flattened_for.extend(want)
print(flattened_for)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened=[x for i in some_tuples for x in i ]

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened_for =[]
for i in some_tuples:
    want=[x for x in i]
    flattened_for.append(want)
print(flattened_for)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened=[[x for x in i] for i in some_tuples  ]

print(flattened)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]